@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf'); 
}

:root 
{
	/* COLORS */    
    --bkg: #1a1c1f;
    --text: #d1d2d2;
    --tint: #bb92ac;
    --highlight: #f2f9f9;
    --transbkg: rgba(46, 45, 45, 0.5);
    
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
    white-space: nowrap;
    color: var(--text);
}

body
{ 
    background-color: var(--bkg);
    margin: 0; padding: 0; border: 0; outline: 0;
    overflow: scroll;
}

#bkg
{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

