@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf'); 
}

:root 
{
	/* COLORS */    
    --bkg: #1a1c1f;
    --text: #d1d2d2;
    --highlight: #f2f9f9;
    --transbkg: rgba(46, 45, 45, 0.5);
    --hlbkg: rgba(43, 42, 42, 0.5);
    --hoverbkg: rgba(69, 69, 75, 0.5);
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
    color: var(--text);
}

body
{ 
    background-color: var(--bkg);
    margin: 0; padding: 0; border: 0; outline: 0;
    overflow: scroll;
}

#bkg
{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.flexMid
{
    position: absolute;
    left: 3%;
    top: 4%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: flex-start;
    justify-content: center;
}

/* Archive, Delete and Reload buttons */
.btn 
{ 
    color: var(--text); 
    opacity: 0.7; 
}
.btn:hover
{ 
    cursor: pointer; 
    opacity: 1.0;
    color: white;
}

/* Fade in effect */
@keyframes fadeIn100 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

select
{
    display: inline-block;
    background-color: var(--transbkg);
    color: var(--text);
    width: fit-content;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}
