@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf'); 
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
    white-space: nowrap;
}

:root 
{
	/* COLORS */    
    --bar: #131314;
    --bkg: #1a1c1f;
    --text: #d1d2d2;
    --tint: #bb92ac;
}


body
{ 
    background-color: var(--bkg);
    color: var(--text);
    margin: 0; padding: 0; border: 0; outline: 0;
    overflow: scroll;
}

#bkg
{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

