@page
@model IndexModel
@{
    // Bar with <select> for accounts (TODO)
    // list of labels
    // click label to fetch mail
    
    ViewData["Title"] = "Inbox";
}

<h1 class="display-4">Read my mail pls</h1>
