@page
@model IndexModel
@{
    // Bar with <select> for accounts (TODO)
    // list of labels
    // click label to fetch mail
    
    ViewData["Title"] = "Inbox";
}

<table id="mailList">
    <!-- [Sender]   [Snippet] [DateTime]  -->
    <thead>
        <th class="nf nf-mdi-mail_ru"></th>
        <th class="nf nf-mdi-view_headline"></th>
        <th class="nf nf-fa-calendar"></th>
    </thead>
    <tbody></tbody>
</table>



