<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Mayl</key>
		<string>com..mayl</string>
		<key>LimitLoadToSessionType</key>
		<string>Aqua</string>

		<key>WorkingDirectory</key>
		<string>PROJECT DIRECTORY HERE</string>

		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/share/dotnet/dotnet</string>
			<string>run</string>
		</array>

		<key>RunAtLoad</key>
		<false/>
		<key>StandardErrorPath</key>
			<string>err.log</string>
		<key>StandardOutPath</key>
			<string>info.log</string>

	</dict>
</plist>
