@font-face 
{
    /* https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open=true&selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro';
    src: url('resc/SourceSansPro-Regular.ttf'); 
}

* 
{ 
    font-family: 'Source Sans Pro', Arial; 
    overflow: scroll; 
    white-space: nowrap;
}

:root 
{
	/* COLORS */    
    --bar: #131314;
    --bkg: #1a1c1f;
    --text: #d1d2d2;
    --tint: #bb92ac;
}


body
{ 
    background-color: var(--bkg);
    color: var(--text);
    margin: 0; padding: 0; border: 0; outline: 0;
    overflow: scroll;
}

#bkg
{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
}

/********** Bar **********/
#bar 
{
   background-color: var(--bar);
   opacity: 1.0;
   position: fixed;
   
   /* The bar only contains text elements (besides the floated <select> elements) */
   text-align: center;
   
   width: 100%;
   height: fit-content;
   min-width: 50%;
   z-index: 10;
}

#bar > select
{
    opacity: 1.0;
    background-color: var(--bkg);
    color: var(--text);
    float: right;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;

}

/********* Flex container *******/

@keyframes fadeIn100 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#mailList
{
    position: absolute;
    left: 5%;
    top: 5%;
    
    border-collapse: collapse;
    text-align: right;

    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    
    /* Fade out 
    animation: fadeIn100 0.5s;

    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
    */
}

.Item
{
    opacity: 1.0;
    max-height: 18px;
    margin-bottom: 5px;
    
    border-bottom: 1px solid rgba(65, 64, 64, 0.5)
}

.Item:hover
{
    border: 1px solid var(--tint);
    background-color: rgba(69, 69, 75, 0.5);
    opacity: 0.5;
    cursor: pointer;
}

.Item > td
{
    /* Set an upper limit for the width of column text in the playlist */
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
}

td,th { padding-right: 14px;  }
thead
{
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(65, 64, 64, 0.5)
}